*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.search {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(216, 0, 0);
}
.search input {
    padding: 10px;
    font-size: 16px;
    border: #ffea00;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;

}
.search button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffea00;
    cursor: pointer;
}

.Content {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.cart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin: 3%;
}